@import "tailwindcss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
#root {
    width: 100%;
    min-height: 100vh;
}

body {
    background: #0f172a;
    color: #ffffff;
    font-family: Inter, sans-serif;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: #334155;
    border-radius: 20px;
}

::-webkit-scrollbar-track {
    background: #0f172a;
}